body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

#nav {
  padding: 1em;
  text-align: center;
}

#content {
  background-color: #B9E8EB;
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 {
  letter-spacing: 7px;
}
